@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}
.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    position: relative;
}

.home {}

.home ul li {
    width: 15px;
    display: flex;
    gap: 15px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading{
    width: 100%;
    display: flex;
    gap: 15px;
    list-style: none;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img{
    width:30px;
}

.library {
   min-height: 75vh;
   position: relative;
}

.footer{
    display: flex;
    font-size: 10px;
    gap: 13px;
    color: grey;
    position:absolute;
    bottom: 0px;
    padding: 10px 0px;
}

.footer a{
    color: grey;
}

.right{
    margin: 16px;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header > *{
    padding: 20px;
}

.spotifyPlaylists{
    padding: 16px;
}


.buttons > *{
    margin: 0px 12px;
}

.signupbtn{
    background-color: rgb(34, 34, 34);
    color: rgb(156,148,148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor:pointer;
    font-size: 16px;
}

.signupbtn:hover{
    font-size: 17px;
    color: white;
}

.loginbtn{
    background-color: white;
    color: black;
    font-weight: bold;
    width: 79px;
    cursor:pointer;
    font-size: 16px;
    padding: 10px;
    border-radius: 21px;
}

.loginbtn:hover{
    font-weight: bold;
    font-size: 17px;
}

.playbar{
    position: absolute;
    bottom: 0;
    background-color: rgb(97, 128, 97);
    width: 100%;
    padding: 12px;
}

.songbuttons{
    display: flex;
    justify-content: center;
    gap: 16px;
}