*{
    margin: 0;
    padding: 0;
}


body{
    /* background-color: black;
    color: white; */
}



.left{
   width: 25vw;
}

.right{
    width: 75vw;
}

.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}